<ion-view view-title="Mean Tiles">

    <ion-nav-title>
        <div ng-show="!search_input.show()" style="text-align: center">
            Mean Tiles
        </div>
        <!--
            <divstyle="text-align: center">            
                Mean Full Swell
            </div>
        -->
        <div ng-show="search_input.show()">
            <label ng-show="search_input.show()" 
                   class="item-input-wrapper header-search-label">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search"
                       id="search_input_box"
                       ng-model="$parent.mean_items_filter_text">
            </label>
        </div>
        

    </ion-nav-title>
    
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <!--
                <button class="button button-icon ion-android-search"
                        ng-click="showFilterBar()"></button>
                -->
            <button class="button button-icon icon ion-android-search"
                    ng-click="search_input.toggle();"></button>
            <button class="button button-icon icon ion-plus-circled"
                    ng-click="data.add()">
            </button>
        </div>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-refresher
             pulling-text="Pull to refresh..."
             on-refresh="ion_refresher_revive()">
        </ion-refresher>
        <div class="card responsive-card"
             ng-repeat="item in mean_items | mean_items_filter : mean_items_filter_text">
            <ion-item class="item item-thumbnail-left"
                      >
                <img ng-src="{{item.image || item.url + '/favicon.ico'}}"
                     class="card-thumbnail-image"
                     ng-click="go_url(item.url);">
                <h1>
                    <div class="buttons">
                        <button class="button button-icon icon ion-more card-button-more"
                                ng-click="more.pop($event);">
                        </button>
                    </div>
                    <!--
                        <a href="#" class="item-icon-right"
                           style="position: absolute; top: 15px; right: 5px; color: lavender">
                            <i class="icon ion-more"></i>
                        </a>
                        -->
                    {{item.name}}
                </h1>
                <p>
                    <ul style="display: inline;">
                        <li ng-repeat="tag in item.tag" style="display:inline;">
                            {{tag + " "}}
                        </li>
                    </ul>
                </p>
            </ion-item>
        </div>
        
    </ion-content>
</ion-view>
