<ion-popover-view>
    <!-- 
         <ion-header-bar>
             <h1 class="title">{{card_name}}</h1>
         </ion-header-bar>
         -->
    
    <ion-content>
        <div class="popover-buttons">
            <button class="button button-block button-stable button-fit-height icon-left ion-document-text">
                Document
            </button>
            <!--
            <button class="button button-block button-stable button-fit-height icon-left ion-radio-waves">
                News
            </button>
            -->
            <button class="button button-block button-stable button-fit-height icon-left ion-social-github">
                Github
            </button>
            <button class="button button-block button-stable button-fit-height icon-left ion-pie-graph">
                Static
            </button>
            <button class="button button-block button-energized button-fit-height icon-left ion-edit"
                    ng-click="data.edit()">
                Edit
            </button>
            <button class="button button-block button-assertive button-fit-height icon-left ion-close-circled">
                Delete
            </button>
        </div>
    </ion-content>
</ion-popover-view>
