<ion-modal-view>

    <ion-header-bar>
        <h1 class="title">{{todo.title}}</h1>
    </ion-header-bar>
    
    <ion-content>
        <form ng-submit="todo.submit(todo.input)">
            <div class="list list-inset">

                <label class="item item-input-inset">
                    <i class="icon ion-document" style="font-size:2.5em;width:10%;padding-right:4%;text-align:right;"></i>
                    
                    <input type="text" ng-model="todo.input.text" placeholder="issue description" style="font-size:1.2em;width:100%;">
                </label>

                <label class="item item-input">
                    <div class="button-bar" >
                        <ion-checkbox ng-model="todo.input.icon"
                                      ng-repeat="(key, value) in todo_icon_color"
                                      ng-true-value="'{{key}}'" ng-false-value=""
                                      class="{{value.checkbox_color}}"
                                      style="border-width:0px;">
                            <i class="icon {{key}}"></i> {{value.text}}
                        </ion-checkbox>
                    </div>
                </label>                    

                <label class="item">
                    <button class="button button-block button-positive" type="submit">
                        Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
    
</ion-modal-view>
