<ion-view view-title="Issue List">

    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon icon ion-plus-circled"
                    ng-click="todo.add()">
            </button>
        </div>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="todo in todo_list"
                      class="icon-bullet-spacing"
                      style="color:{{todo_color(todo.icon)}}"
                      >
                <i class="icon {{todo.icon}}"></i>
                {{todo.text}}
                <!-- edit button goes to todolist_form.html  -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
