firebase database:push "/items" -d '{ "id" : 0, "name" : "mean", "url" : "https://www.mongodb.com", "image" : "", "tag" : ["framework"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 1, "name" : "angular", "url" : "http://www.angularjs.org", "image" : "", "tag" : ["framework", "library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 2, "name" : "node", "url" : "https://wwww.nodejs.org", "image" : "", "tag" : ["package", "tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 3, "name" : "github", "url" : "https://github.com", "image" : "", "tag" : ["tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 4, "name" : "gitlab", "url" : "https://about.gitlab.com", "image" : "", "tag" : ["tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 5, "name" : "postman", "url" : "https://www.getpostman.com", "image" : "", "tag" : ["tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 6, "name" : "curl", "url" : "https://curl.haxx.se", "image" : "", "tag" : ["tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 7, "name" : "wget", "url" : "https://www.gnu.org/software/wget", "image" : "", "tag" : ["tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 8, "name" : "httpie", "url" : "", "image" : "", "tag" : ["tool"], "github" : "https://github.com/jkbrzt/httpie" }'
firebase database:push "/items" -d '{ "id" : 9, "name" : "npm", "url" : "https://www.npmjs.com", "image" : "", "tag" : ["package"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 10, "name" : "bower", "url" : "https://bower.io", "image" : "", "tag" : ["package"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 11, "name" : "yeoman", "url" : "http://www.yeoman.io", "image" : "", "tag" : ["package"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 12, "name" : "babel", "url" : "https://babeljs.io", "image" : "", "tag" : ["language", "transpiler"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 13, "name" : "traceur", "url" : "https://github.com/google/traceur-compiler", "image" : "", "tag" : ["language", "transpiler"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 14, "name" : "livereload", "url" : "http://livereload.com", "image" : "", "tag" : ["tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 15, "name" : "webpack", "url" : "https://webpack.github.io", "image" : "", "tag" : ["tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 16, "name" : "browserify", "url" : "http://browserify.org", "image" : "", "tag" : ["tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 17, "name" : "json-server", "url" : "", "image" : "", "tag" : ["library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 18, "name" : "http-server", "url" : "", "image" : "", "tag" : ["library", "tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 19, "name" : "docker", "url" : "https://www.docker.com", "image" : "", "tag" : ["tool", "container"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 20, "name" : "vigrant", "url" : "https://www.vagrantup.com", "image" : "", "tag" : ["container"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 21, "name" : "virtualbox", "url" : "https://www.virtualbox.org", "image" : "", "tag" : ["container"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 22, "name" : "vmware", "url" : "www.vmware.com", "image" : "", "tag" : ["container"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 23, "name" : "heroku", "url" : "https://www.heroku.com", "image" : "", "tag" : ["hosting"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 24, "name" : "digital ocean", "url" : "https://www.digitalocean.com", "image" : "", "tag" : ["hosting"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 25, "name" : "", "url" : "", "image" : "", "tag" : [], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 26, "name" : "react.js", "url" : "", "image" : "", "tag" : ["library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 27, "name" : "ghost", "url" : "", "image" : "", "tag" : ["library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 28, "name" : "leaflet", "url" : "", "image" : "", "tag" : ["library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 29, "name" : "mapbox", "url" : "", "image" : "", "tag" : ["library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 30, "name" : "less", "url" : "", "image" : "", "tag" : ["style"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 31, "name" : "sass", "url" : "", "image" : "", "tag" : ["style"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 32, "name" : "selenium", "url" : "http://www.seleniumhq.org/", "image" : "", "tag" : ["test"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 33, "name" : "nightwatch", "url" : "http://nightwatchjs.org", "image" : "", "tag" : ["test"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 34, "name" : "mocha", "url" : "https://mochajs.org", "image" : "", "tag" : ["test"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 35, "name" : "chai", "url" : "http://chaijs.com", "image" : "", "tag" : ["test"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 36, "name" : "sinon", "url" : "http://sinonjs.org", "image" : "", "tag" : ["test"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 37, "name" : "jasmine", "url" : "http://jasmine.github.io", "image" : "", "tag" : ["test"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 38, "name" : "karma", "url" : "https://karma-runner.github.i", "image" : "", "tag" : ["test"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 39, "name" : "travis-ci", "url" : "https://travis-ci.org", "image" : "", "tag" : ["test"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 40, "name" : "gitlab-ci", "url" : "https://about.gitlab.com/gitlab-ci", "image" : "", "tag" : ["test", "tool"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 41, "name" : "firebase", "url" : "https://www.firebase.com", "image" : "", "tag" : ["tool", "hosting"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 42, "name" : "ionic", "url" : "ionic.io", "image" : "", "tag" : ["library", "framework"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 43, "name" : "cordova", "url" : "", "image" : "", "tag" : ["library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 44, "name" : "express", "url" : "", "image" : "", "tag" : ["library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 45, "name" : "mongoose", "url" : "", "image" : "", "tag" : ["library", "database"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 46, "name" : "passport", "url" : "", "image" : "", "tag" : ["library"], "github" : "" }'
firebase database:push "/items" -d '{ "id" : 47, "name" : "", "url" : "", "image" : "", "tag" : [], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 48, "name" : "bootstrap", "url" : "http://getbootstrap.com", "image" : "https://bootstrapcreative.com/wp-bc/wp-content/uploads/2016/01/bootstrap-logo.png", "tag" : ["library", "style"], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 49, "name" : "git", "url" : "https://git-scm.com", "image" : "https://git-for-windows.github.io/img/git_logo.png", "tag" : ["tool"], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 50, "name" : "jenkins", "url" : "https://jenkins.io/", "image" : "https://blog.rosehosting.com/blog/wp-content/uploads/2014/11/jenkins.png", "tag" : ["tool", "test"], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 51, "name" : "bugzilla", "url" : "https://www.bugzilla.org", "image" : "https://www.bugzilla.org/img/buggie.png", "tag" : ["tool"], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 52, "name" : "bowser stack", "url" : "https://www.browserstack.com/", "image" : "https://pbs.twimg.com/profile_images/451968255846928384/0pyDMTyp.png", "tag" : ["tool"], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 53, "name" : "sauce labs", "url" : "https://saucelabs.com/", "image" : "https://pbs.twimg.com/profile_images/704462412880093184/IkgItC1R_400x400.jpg", "tag" : ["tool"], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 54, "name" : "google map", "url" : "https://developers.google.com/maps/", "image" : "https://pbs.twimg.com/profile_images/638753218613280768/zK11Va5r.png", "tag" : ["library"], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 55, "name" : "glup", "url" : "http://gulpjs.com/", "image" : "http://gulpjs.com/img/gulp-white-text.svg", "tag" : ["tool"], "github" : "" }'

firebase database:push "/items" -d '{ "id" : 56, "name" : "newman", "url" : "https://github.com/postmanlabs/newman", "image" : "https://camo.githubusercontent.com/1f7577d15b8d4576abf3a6c9d153dcab03972c66/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f7765622d6172746566616374732f6e65776d616e2d3132382e706e67", "tag" : ["tool"], "github" : "https://github.com/postmanlabs/newman" }'

firebase database:push "/items" -d '{ "id" : 57, "name" : "stripe", "url" : "https://stripe.com", "image" : "https://avatars1.githubusercontent.com/u/856813?v=3&s=200", "tag" : ["tool"], "github" : "https://github.com/stripe", "doc" : "https://stripe.com/docs/stripe.js?" }'



####
firebase database:push "/items" -d '{ "id" : 0, "name" : "", "url" : "", "image" : "", "tag" : ["tool"], "github" : "" }'


