firebase database:push "/tags" -d '{"id" : 0, "name" : "frontend"}'
firebase database:push "/tags" -d '{"id" : 1, "name" : "backend"}'
firebase database:push "/tags" -d '{"id" : 2, "name" : "database"}'
firebase database:push "/tags" -d '{"id" : 3, "name" : "ux/ui"}'
firebase database:push "/tags" -d '{"id" : 4, "name" : "tool"}'
firebase database:push "/tags" -d '{"id" : 5, "name" : "test"}'
firebase database:push "/tags" -d '{"id" : 6, "name" : "language"}'
firebase database:push "/tags" -d '{"id" : 7, "name" : "style"}'
firebase database:push "/tags" -d '{"id" : 8, "name" : "package"}'
firebase database:push "/tags" -d '{"id" : 9, "name" : "library"}'
firebase database:push "/tags" -d '{"id" : 10, "name" : "framework"}'
firebase database:push "/tags" -d '{"id" : 11, "name" : "platform"}'
firebase database:push "/tags" -d '{"id" : 12, "name" : "container"}'
firebase database:push "/tags" -d '{"id" : 13, "name" : "hosting"}'
firebase database:push "/tags" -d '{"id" : 14, "name" : "transpiler"}'
firebase database:push "/tags" -d '{"id" : 15, "name" : "misc"}'

